.task-list, .add-new-task {
  max-width: 600px;
  margin: 0 auto;
}

.add-new-task-heading {
  margin-top: 24px;
}

.add-task-btn {
  background-color: #33E28E;
  border: 1px solid #33E28E;
  color: #001529;
  font-weight: 700;
}

.add-task-btn:hover, .add-task-btn:focus {
  background-color: #001529;
  border: 1px solid #001529;
  color: #fff;
}

.ant-list-items {
  background-color: #fff;
}
